
/* ---------------------------------------------------------------
 style.css handles the styling
 ----------------------------------------------------------------- */
/* ------------------------------
1. Page, dropdown, subtext
 ------------------------------ */


/* Size page: ensure the page takes up the full height of any screen */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Size chart */
/* Used vh and vx as opposed to px to try to ensure marker gets consistent view regardless if its viewed on monitor or laptop. (for font size and positioning) */
#chart {
  flex: 1; /* fills all space EXCEPT the footnote */
  width: 100%;
  display: block;
}

body {
  display: flex;
  flex-direction: column;
}

.header-text {
  text-align: left;
  padding-left: 30vw;
  width: 100%;
}


.footnote {
  width: 100%;
  padding: 1vh 20px;
  font-size: 0.7vw;
  color: #777;
  background-color: white;
  box-sizing: border-box;
  line-height: 1;
  flex-shrink: 0;
}


.season-dropdown {
    position: fixed;
    right:32vw;
    top:4vh;
    font-size: 1vw;
    font-weight: bold;
}

.season-dropdown select {
  font-size: 0.8vw;  /* bigger dropdown itself */
  padding: 0.2vh 0.5vh;
}

/* ------------------------------
2. Map
  ------------------------------ */

/* Plain white fill with thin grey outlines so colours stand out */
.country {
  fill: white;
  stroke: #aaa;
  stroke-width: 0.07vh;
}

/* Shared country borders (single merged path from topojson.mesh). Essential or else chunks of map appear black */
.borders {
  fill: none;
  stroke: #777;
  stroke-width: 0.08vh;
}

.bubble {
  fill-opacity: 0.9;
  stroke: white;
  stroke-width: 0.08vh;
}

/* ------------------------------
3. Tooltip
  ------------------------------ */

/* Ensures tooltip is visible (position) and smoother to look at (transition) */
#tooltip {
  pointer-events: none;
  position: fixed;
  transition: opacity 0.10s;
}

/* Hides the tooltip when not hovering over a particular bubble */
#tooltip.hide {
  opacity: 0;
}


/* ------------------------------
4. Legend
  ------------------------------ */

#legend {
  position: fixed;
  top: 3vh;
  right: 3vw;
  padding: 1vh;
}

#legend-colour {
  width: 100%;
}


#legend-size-svg circle {
  fill: #999;
}

#legend-size-svg {
  position: fixed;
  top: 10vh;
  right: 0vw;
  padding: 2vh;
  margin-top: 2vh;
}

